<p id="who">
  <strong>Who:</strong>
  The course is aimed at astronomers at all stages of their education and careers 
  who wish to learn computational tools to increase the reproducibility and 
  efficiency of their work. The course will be taught with the assumption that 
  participants have written or edited code in a language other than Python and 
  can navigate directories using the shell command line. Knowledge of Git is 
  not required.
</p><p>
Registration is for both days. Participants will be required to bring their own laptops 
and to install software in advance of the workshop.
</p><p>
  We encourage participants to apply their newly developed skills at the Hack Together Day. 
  
</p>
